.fill {
    min-height: 90vh;
}

.teste {
    float: right;
    margin-right: 3%;
}

.icon-preview {
    cursor: pointer;
}

.icon-preview span {
    display: none;
    position: absolute;
    background: black;
    color: #EEE;
    padding: 5px 8px;
    font-size: 15px;
    font-family: Roboto;
    border-radius: 2px;
    z-index: 10;
}

.icon-preview:hover i {
    color: #00c853;
}

.icon-preview:hover span {
    display: block;
    cursor: text;
}

.teste1 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 16%;
    margin-right: 16%;
}

.top {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.topArea {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}

.dropdownjs:after {
    right: 5px;
    top: 3px;
    font-size: 25px;
    position: absolute;
    content: "";
    font-family: Material-Design-Icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
    color: #757575;
}

.dropdownjs > input {
    display: block;
    height: 27px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    width: 130px;
    padding-right: 0px;
    font-weight: bold;
    margin: 0px 4px 0px 4px;
    text-align: right;
}

.dropdownjs:hover input {
    color: #00c853;
}

.dropdownjs > .form-control {
    background-image: none;
}

#dialog h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}